<div class="container">


    <div class="row">
        <div class="col-3">Connection Status: </div>
        <div class="col-4">
            <div id="led" class="led"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">Logged in status: </div>
        <div class="col-4">
            <div id="loggedInLed" class="led"></div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-4">Total Succesfull Connections: </div>
        <div class="col-4">
            <span id="totalSuccesfullConnectionsCount"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">Total Live Connection: </div>
        <div class="col-4">
            <span id="liveConnectionsCount"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">Connection Id: </div>
        <div class="col-4">
            <span id="connectionId"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">Server message: </div>
        <div class="col-4">
            <span id="serverMessage"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-4">Messages: </div>
        <div class="col-8">
            <span id="messages"></span>
        </div>
    </div>


</div>

<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/js/query.js"></script>
